apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-app
  namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      containers:
      - name: student-management
        image: harounchebaane/student-management:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8089
        env:
        # On remplace les propriétés de l'application par les coordonnées du service K8s
        - name: SPRING_DATASOURCE_URL
          value: jdbc:mysql://mysql-service:3306/student_db?useSSL=false&allowPublicKeyRetrieval=true
        - name: SPRING_DATASOURCE_USERNAME
          value: root
        - name: SPRING_DATASOURCE_PASSWORD
          value: root
---
apiVersion: v1
kind: Service
metadata:
  name: spring-service
  namespace: devops
spec:
  type: NodePort
  selector:
    app: spring-app
  ports:
    - port: 8080
      targetPort: 8089
      nodePort: 30001 # Port exposé sur votre VM
